<h1>Люксембург, Люксембург</h1>

<iframe width="1271" height="715" src="https://www.youtube.com/embed/8PkV7kvVPPo" title="Люксембург, Люксембург - офіційний трейлер" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>

<p>Дивіться фільм «Люксембург, Люксембург» у кінотеатрах «Планета Кіно» з 13 квітня 2023 року.
Жанр: комедія, драма
Режисер: Антоніо Лукіч
В ролях: Аміл Насіров, Раміл Насіров, Наталія Гнітій, Людмила Саченко, Віктор Драпіковський, Доріс Майданюк, Карина Черчевич

Є чимало гарних місць для смерті. Люксембург – не одне з них. Але гарний чи ні, Люксембург робить смерть дуже дорогою. Коли брати-близнюки дізнаються, що їхній давно зниклий батько захворів у Люксембурзі, вони вирушають у подорож, аби побачити його востаннє. Та чи буде чоловік, якого вони там зустрінуть, таким же поганим татом, як вони його пам’ятають?</p>

