html, body, section {
    height: 100%;
    background-color: brown;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 200px;
}

.icon {
    width: 50px;
}

.icon-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}